<app-header></app-header>
<div class="main-content">
  <mat-spinner *ngIf="!isDownloaded"></mat-spinner>
  <div class="wrapper" *ngIf="isDownloaded">
    <div *ngIf="user.role == UserRole._1" class="add-lock">
      <button mat-flat-button class="input" color="primary" (click)="addLock()"><span class="biggy">+</span>New Lock</button>
    </div>
    <div class="lock" *ngFor="let rent of lockRents">
      <div class="lock-wrapper">
        <div class="section">
          {{ rent.lock.id }}
        </div>
        <div class="section locked" [ngClass]="{'opened' : !rent.lock.locked}">
          {{ rent.lock.locked ? "Locked" : "Opened" }}
        </div>
        <div class="actions">
          <button mat-raised-button (click)="showOperations(rent.lock.id)">Show operations</button>
          <button mat-raised-button *ngIf="user.role == UserRole._1 || user.role == UserRole._2">Show renters</button>
          <button mat-raised-button color="warn" *ngIf="user.role == UserRole._1" (click)="deleteLock(rent.lock.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
