.rights-addition {
    text-align: center;
    margin-top: 100px;
}

table {
    width: 900px;
}

select {
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    width: 140px;
    height: 32px;
}

button {
    margin: 10px;
}

mat-form-field.mat-form-field {
    font-size: 18px;
}

.mat-raised-button.mat-warn {
    background-color: rgb(218, 4, 4) !important;
    margin-left: 0 !important;
}