<table mat-table [dataSource]="tableSource" class="mat-elevation-z8">
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> {{ 'renters.name' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{ getName(element) }} </td>
  </ng-container>

  <ng-container matColumnDef="Timing">
    <th mat-header-cell *matHeaderCellDef> {{ 'renters.timing' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{ element.rentStart | date: "medium" }} - {{ element.rentFinish | date: "medium" }}</td>
  </ng-container>

  <ng-container matColumnDef="Rights">
    <th mat-header-cell *matHeaderCellDef> {{ 'renters.rights' | translate }} </th>
    <td mat-cell *matCellDef="let element"> {{ getRights(element) }} </td>
  </ng-container>

  <ng-container *ngIf="rights == LockRentRights._1 || rights == LockRentRights._2" matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> {{ 'renters.actions' | translate }} </th>
    <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="cancelRent(element)" color="warn">{{ 'renters.cancelbutton' | translate }}</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="rights-addition" *ngIf="rights == LockRentRights._1 || rights == LockRentRights._2">
  <form [formGroup]="shareRightsForm">
    <select formControlName="rights">
      <option *ngIf="rights == LockRentRights._1" value="{{LockRentRights._2}}">Owner</option>
      <option value="{{LockRentRights._3}}">Renter</option>
    </select>
    <mat-form-field>
      <input matInput placeholder="{{ 'renters.username' | translate }}" [matAutocomplete]="auto" formControlName="username">
    </mat-form-field>
    <button mat-raised-button (click)="shareRights()">{{ 'renters.sharerights' | translate }}</button>
  </form>
</div>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let user of filteredUsers"  [value]="option" (click)="chooseUser(user)">{{user.username}}</mat-option>
</mat-autocomplete>