<div class="container">
  <h2>{{ 'register.title' | translate }}</h2>
  <form [formGroup]="registerForm">
    <mat-form-field>
      <input matInput class="input" color="warn" placeholder="{{ 'register.email' | translate }}" formControlName="email">
    </mat-form-field><br/>
    <mat-form-field>
      <input matInput class="input" color="warn" placeholder="{{ 'register.username' | translate }}" formControlName="username">
    </mat-form-field><br/>
    <mat-form-field>
      <input matInput class="input" color="warn" placeholder="{{ 'register.firstname' | translate }}" formControlName="firstName">
    </mat-form-field><br/>
    <mat-form-field>
      <input matInput class="input" color="warn" placeholder="{{ 'register.lastname' | translate }}" formControlName="lastName">
    </mat-form-field><br/>
    <mat-form-field>
      <input matInput class="input" color="warn" type="password" placeholder="{{ 'register.password' | translate }}" formControlName="password">
    </mat-form-field><br/>
    <button mat-flat-button class="input" color="primary" (click)="register()">{{ 'register.button' | translate }}</button>
  </form>
</div>