a {
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
    color: #f2f2f2;
    font-size: 26px;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    color: #a1a0a0;
}

a:active {
    cursor: pointer;
    color: #7a7a7a;
}

.lock {
    float: left;
    width: 40%;
    cursor: pointer;
}

.nav-bar {
    float: right;
}

.header {
    height: 70px;
    width: 100%;
    background-color: rgb(141, 30, 30);
}

.icon {
    padding-top:10px;
    height: 50px;
    width: 50px;
    float: left;
}

.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f2f2f2;
    font-size: 40px;
    float: left;
    margin-block-start: 5px;
    margin-block-end: 0;
}